name: Build Linux Container Image and Push to Azure Container Registry

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.REGISTRY_NAME }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build a Docker image
        run: |
          cd db-service
          ls
          env GOOS=linux CGO_ENABLED=0 go build -o dbServiceApp ./cmd/api
          docker build .  --tag ${{ secrets.REGISTRY_NAME }}/db-service:latest
          docker push ${{ secrets.REGISTRY_NAME }}/db-service:latest