name: Run Unit tests on merge

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  test-on-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: |
          echo "Running tests"
          echo " "
          echo "DB service tests"
          cd db-service
          go get .
          go test -cover -timeout 30s ./...  
          echo " "
          echo "Distributor service tests"
          cd ../distributor-service
          go get .
          go test -cover -timeout 30s ./...
          echo " "
          echo "Front-end service tests"
          cd ../front-end
          go get .
          go test -cover -timeout 30s ./...

